In [1]:
import chromadb

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("/Users/jaykataria/Desktop/Data hack/jay/Copy of LawYantra Dataset - lawyer_summaries.csv")

In [5]:
df

          Lawyer Names                                        Information
0       Anay Ahluwalia  Anay Ahluwalia has 20 years of experience in C...
1          Arnav Dubey  Arnav Dubey has 29 years of experience in Inte...
2        Lavanya Lalla  Lavanya Lalla has 15 years of experience in Hu...
3        Armaan Khosla  Armaan Khosla has 11 years of experience in Co...
4        Advik Chaudry  Advik Chaudry has 8 years of experience in Hum...
...                ...                                                ...
1994     Amani Mallick  Amani Mallick has 18 years of experience in En...
1995         Zoya Shan  Zoya Shan has 18 years of experience in Family...
1996       Ayesha Dani  Ayesha Dani has 17 years of experience in Envi...
1997       Zaina Soman  Zaina Soman has 24 years of experience in Cons...
1998  Dhanush Krishnan  Dhanush Krishnan has 3 years of experience in ...

[1999 rows x 2 columns]

In [6]:
client = chromadb.Client()

In [7]:
client.list_collections()

[]

In [8]:
collection = client.create_collection("Lawyers")

In [9]:
collection.add(
    documents=[str(doc) for doc in df.values.tolist()], 
    metadatas=[{"source": "given"}]*len([str(doc) for doc in df.values.tolist()]), 
    ids=list(df.index.map(str)), # unique for each doc
)

In [10]:
collection.query(
    query_texts=["Two brothers were tenant of a landlord in a commercial property.One brother had one son and a daughter (both minor) when he got divorced with his wife.The children's went into mother's custody at the time of divorce and after some years the husband (co tenant) also died. Now can the children of the deceased brother(co tenant) claim the right"],
    n_results=2,
)

{'ids': [['1204', '11']],
 'distances': [[1.5347228050231934, 1.5651130676269531]],
 'metadatas': [[{'source': 'given'}, {'source': 'given'}]],
 'embeddings': None,
 'documents': [["['Manikya Bath', 'Manikya Bath has 19 years of experience in Family Law, Labor Law, and Real Estate Law. He has a Client Feedback of 4.0 out of 5.0. His Jurisdiction is Supreme Court. He charges 104.56920201161151 USD per hour. He takes 91.35464698809652 Avg Days for Disposal. He speaks: Punjabi, Bengali and Tamil. He practices at Madan LLC, and is based in Kolkata. She does not provide pro bono services to the community. Her Client Demographics is Individuals.']",
   "['Rohan Basu', 'Rohan Basu has 11 years of experience in Family Law, Real Estate Law, and Media and Entertainment Law. He has a Client Feedback of 4.0 out of 5.0. His Jurisdiction is High Court. He charges 318.2287689952678 USD per hour. He takes 69.75111543208091 Avg Days for Disposal. He speaks: Tamil, Telugu and Tamil. He practices at Chopra Inc, and is based in Kolkata. She does not provide pro bono services to the community. Her Client Demographics is Large Corporations.']"]]}

In [19]:
import streamlit as st

In [20]:
st.title("Lawyer Query 2 using VectorDB")
st.markdown("###")
query=st.text_input("Enter your query hereðŸ‘‡")


st.subheader(collection.query(
    query_texts=[query],
    n_results=10,
))

2023-10-29 08:57:44.962
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /opt/homebrew/lib/python3.11/site-packages/ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator()